/* Global Settings */
html {
  font-size: 16px;
}

h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1rem;
}

ul {
  list-style: none;
}

.main {
  position: relative;
  top: 4rem;
  width: 100%;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.large-info {
  width: 60%;
  margin: 2rem 1.5rem;
}

.large-image {
  /* margin: 2rem 1.5rem; */
}

.large-image img,
.large-image video {
  width: 100%;
}

.small-info {
  width: 40%;
  padding-top: 1rem;
}

.small-block .flex-column,
.banner .flex-column {
  justify-content: center;
}

.small-block .flex-column {
  width: 65%;
}

.small-image {
  width: 35%;
  margin: 1rem;
}

.small-image img {
  width: 100%;
  height: auto;
}

.small-block p {
  margin: 0.5rem 0;
}

/* Header Settings */
header {
  height: 4rem;
  width: 100%;
  position: fixed;
  z-index: 5;
  background-color: white;
}

header div.flex {
  flex-grow: 1;
}

header .desktop img {
  height: 2rem;
  width: auto;
  margin-left: 1.5rem;
}

nav.desktop {
  margin-right: 1rem;
}

.desktop ul li {
  padding: 0 0.5rem;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 600px) {
  .mobile {
    display: block;
    width: 100%;
  }

  .mobile .flex {
    justify-content: space-around;
  }

  .desktop {
    display: none;
  }

}

/* Banner Settings */
.banner {
  background-color: lightgray;
}

.banner h1, h4 {
  padding-right: 3rem;
  padding-bottom: 1.5rem;
}

.banner h5 {
  background-color: dimgray;
  padding: 0.5rem 0;
  text-align: center;
  max-width: 80%;
}

/* Information Section */
.information .small-info {
  border-left: 1px solid lightgray;
}

.information .small-block {
  border-bottom: 1px solid lightgray;
}

.mobile-image {
  display: none;
}

.information h2 {
  padding: 2rem 0 1.5rem 0;
}

.information h6 {
  padding-top: 2rem;
}
/* Course Section */
.course {
  background-color: lightgray;
}

.course h2 {
  padding-top: 2rem;
  text-align: center;
}

.subjects {
  padding: 0 3.5rem 1rem 3.5rem;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1168px;
  margin: 0 auto;
}

.subject {
  /* max-width: 33.25rem; actual size*/
  /* max-width: 17rem; size to fit 1024*/
  max-width: 20rem;
  margin: 1rem;
  background-color: white;
}

.subject img {
  max-width: 100%;
  height: auto;
}

.subject-info {
  padding: 1rem;
}

.subject-info span {
  padding: 0.5rem 0;
  display: block;
}

.subject-info p {
  padding-bottom: 0.5rem;
}
/* Thesis Section */
.thesis {
  border-bottom: 1px solid lightgray;
}

.thesis h2 {
  padding-top: 2rem;
  text-align: center;
}
/* Footer Section */
footer {
  padding: 1rem 1.5rem;
  justify-content: space-between;
  margin-bottom: 2rem;
}

footer li {
  padding: 0 0.5rem;
}
